*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.yashvi{
     display: flex;
     justify-content: center;
     align-items: center;
}
.form{
   position: relative;
  margin-left: 30%;
  width: 600px;
  height: 500px;
  background-color: #FFDFEF;
  border: 1px solid black;
  border-radius: 20px;
  
}
img{
  width: 50px;
}
.t1{
  display: flex;
  justify-content: center;
}