*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 700px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.dise-img{
    width: 400px;
    height: 400px;
}
.dise-img img{
    width: 100%;
    height: 100%;
}
.button button{
    font-size: 24px;

}
