*{
    padding: 0;
    margin: 0;
}
.img{
    width: 200px;
    height: 260px;
}
.imgdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 820px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #f8e7f6c9;
    padding: 10px;
    transition: transform  1s ease;
}
.box:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    transform: scale(1.05);
    background-color: #DAD2FF;

}
#container{
    /* display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px; */
    background-color: #E8F9FF;
    
    padding: 20px;
    padding-top: 3%;
}
.main{
background-color: #E8F9FF;
}
.p1{
    font-size: 20px;
    text-align: center;
}
.bt{
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    margin-left: 150px;
}
.bt:hover{
    background-color: grey;
    cursor: pointer;
}
.p2{
    font-size: 15px;
    text-align: center;
}
.title{
    text-align: center;
}
.title:hover{
    color:#727D73;
}
.t1{
    text-align: center;
    background-color: #A5BFCC;
}